body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  /* border: 1px solid blue; */
  height: 100vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel {
  /* border: 1px solid orangered; */
  height: 40vh;
  max-height: fit-content;
  margin-bottom: 10px;
  padding: 10px;
}

.carousel-item img {
  height: 35vh;
}

.carousel-inner {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
  color: white;
}

.card-container {
  display: flex;
  justify-content: space-around;
  height: 45vh;
  text-align: center;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body a {
  margin: 10px;
}

footer {
  display: flex;
  margin-top: 20px;
  /* height: 10vh; */
  justify-content: center;
  padding: 5px;
  margin-bottom: 5px;
  color: #eee;
  font-weight: bolder;
}

@media (max-width: 640px) {
  body, html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .container{
    margin-bottom: 100px;
    padding: 20px;
  }

  .card-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: auto;
   padding: 10px;
   text-align: center;
  }

  .card{
    margin-bottom: 10px;
  }

  footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100vw;
    font-size: smaller;
    text-align: center;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .card-container {
    display: flex;
    flex-direction: row;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 30px;
        overflow: auto; */
  }
  .card {
    margin: 10px;
  }
}

@media (min-width: 1025px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
 
  .carousel{
    min-height: 40vh;
  }

  .card-container{
    min-height: 50vh ;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .card-body a{
    margin: 5px;
  }
}